**/node_modules
**/dist
**/build
**/out
**/target
**/venv
**/env
**/data
**/logs
**/cache
**/__pycache__
**/__pycache__/**
**/__pycache__/**/**
**/.ipynb_checkpoints
*.pyc
.env
**/.nextserver/.venv/
**/.next/
**/.venv/
documentation/
**/fastf1_http_cache.sqlite/
server/server.log
